{% extends "base.html" %}
{% load static %}
<!--Home page with url home-->
{% block content %}


    <div class="col-10 mx-auto col-md-6 my-3">
        <div class="custom_div text-center">
            <h2 class="display-4">Welcome to</h2>
            <p><h3>Book store project</h3></p>
            <p><h3>by</h3></p>
            <p><h3>Мичковський Богдан Ігорович ІПЗ-22</h3></p>
        </div>
        <div class="custom_div text-center" style="margin-top: 50px">
            <h5>Оцінку можна виставити ось тут: <a href="https://docs.google.com/spreadsheets/d/1PGmVOdt5fCkBVhom2sZuXMrSLvl5RLi6NhSi0Nb9_q4/edit#gid=964823482">таблиця оцінок</a></h5>
        </div>
    </div>

{% endblock %}